{% raw %}
{% extends 'base.html' %}

{% load bootstrap3 %}

{% load include_maybe %}

{% block content %}
{% endraw %}

<h1>{% raw %}{{item{% endraw %}.{{ m_model.MainProperty }}{% raw %}}}{% endraw %}</h1>
{% for m_modelPropertyName in m_model.Properties -%}
    {% if m_model.Properties[loop.index-1] !=  m_model.MainProperty %}
        <p><b>{{m_model.PropertyNames[loop.index-1]}}: </b>{% raw %}{{item{% endraw %}.{{m_model.Properties[loop.index-1]}}{% raw %}}}{% endraw %}</p>
    {% endif %}
{% endfor -%}
<div style="float: inherit">
    <form action="{% raw %}{%{% endraw %} url '{{m_model.UrlForEdit}}' item.id {% raw %}%}{% endraw %}" method="put" class="form">
        {% raw %}
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" >
                {% bootstrap_icon "edit" %}</button>
        {% endbuttons %}
        {% endraw %}
    </form>
    <form action="{% raw %}{%{% endraw %} url '{{m_model.UrlForDelete}}' item.id {% raw %}%}{% endraw %}" method="delete" class="form">
        {% raw %}
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" >
                {% bootstrap_icon "trash" %}</button>
        {% endbuttons %}
        {% endraw %}
    </form>
    {% raw %}{% include_maybe "app\{% endraw %}{{m_model.Name}}{% raw %}_details_custom.html" %}
</div>
{% endblock content %}
{% endraw %}