from ..models import {{ that_modelName }}
{##}
{##}

class {{ that_modelName }}CustomFunctions():
{##}
    def get_custom_data_for_{{ that_modelName }}_list({{ that_modelName }}):
        return None
