from django.db import models

# Create your models here.

# BEGIN_OF_CODE_GENERATION


{% for m_model in m_models.modelItems -%}
class {{m_model.modelName}}(models.Model):

    {% for m_baseProp in m_model.modelProperties.baseProperties -%}
        {{ m_baseProp.propertyName }} = models.{{m_mapper[m_baseProp.propertyType]}}()
    {% endfor -%}

    {##}
    def __str__(self):
        return self.name


{% endfor -%}
# END_OF_CODE_GENERATION