rom django.conf.urls import url
from . import views
from django.contrib.auth import views as auth_views
from django.views.generic import TemplateView

urlpatterns = [



    url(r'^$', views.home_page, name='home_page'),

# BEGIN_OF_CODE_GENERATION
    {% for m_model in m_models -%}
    url(r'^{{m_model}}/(?P<pk>\d+)$', views.{{m_model}}_detail, name='{{m_model}}_detail'),
    url(r'^{{m_model}}s/list$', views.{{m_model}}_list, name='{{m_model}}'),
    url(r'^{{m_model}}/add$', views.{{m_model}}_create, name='{{m_model}}_form'),
    url(r'^{{m_model}}/update/(?P<pk>\d+)$', views.{{m_model}}_update, name='{{m_model}}_update_form'),
    url(r'^{{m_model}}/delete/(?P<pk>\d+)$', views.{{m_model}}_delete, name='{{m_model}}_confirm_delete'),
    {% endfor -%}
# END_OF_CODE_GENERATION

    url(r'^user/profile$', views.user_profile, name='user-profile'),
    url(r'^user/update/$', views.user_update, name='user_update'),
    url(r'^user/password/$', views.change_password, name='user_password_change'),

]